<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC5R67PEKT--G069N03VRsYYE6kYQ7ss3Q</string>
	<key>GCM_SENDER_ID</key>
	<string>813161449252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loveOnLife</string>
	<key>PROJECT_ID</key>
	<string>loveonlife-678ee</string>
	<key>STORAGE_BUCKET</key>
	<string>loveonlife-678ee.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:813161449252:ios:f698ad1d4e41b9199d95b1</string>
</dict>
</plist>